* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Merriweather, serif;
  background-color: #ebf2ff;
}

/*  Header Section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9fafc;
}

.navbar__brand {
  width: 100px;
}
.navbar__logo {
  width: 100%;
}

.button__primary {
  background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin: 10px;
  font-weight: 600;
}
.button__primary:hover {
  background: linear-gradient(to right, #ff512f 51%, #dd2476 100%);
}
.navbar__items {
  margin-left: 5px;
}

/* Main Section */

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}
.hero__image__container {
  width: 100%;
}
.hero__image {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 25px 50px -12px #00000040;
}

.hero__text {
  font-weight: 800;
  font-size: 30px;
  margin: 20px 0;
  color: #1d3557;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }

  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 32px;
  }
}

@media (min-width: 1024px) {
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 20px;
    font-size: 20px;
  }

  .container {
    max-width: 60%;
  }
  .hero__description {
    width: 100%;
  }
  .hero__text {
    font-size: 50px;
  }
}
